* {
    box-sizing: border-box;
  }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.42857143;
    color: #000000;
  background:linear-gradient(90deg,#0c5df0,#2b3096);
}
form {
    width: 500px;
    margin: auto;
    background: #aee5ec;
    padding: 20px;
    margin-top: 20px;
    color: #000000;
    border: 1px solid black;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;

    }
    img {
 
        max-width: 100%;
        width: 260px;;
        height: 260px;
        border-style: solid;
        border-style: none;
        display:block;
        margin:auto;
    }